Q1. Create one variable containing following type of data:

(i)	    string

(ii)	list

(iii)	float

(iv)	tuple

#### (i)string variable

In [1]:
s="tejaswini"
type(s)

str

#### (iii)list variable

In [2]:
l=[1,2,4,6,7]
type(l)

list

#### (iii)float variable

In [3]:
f=13.45
type(f)

float

#### (iv)tuple variable

In [4]:
t=(1,45,6,78,8)
type(t)

tuple

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1

What will be the data type of the above given variable

#### (i)var1=' ' :It is of string data type.

In [5]:
var1=' '
type(var1)

str

#### (ii)var2='[DS,ML,Python]'  : string data type which again consist of list of strings in it.

In [6]:
var2='[DS,ML,Python]'
type(var2)

str

#### (iii)var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] :  list data type

In [7]:
var3=['DS','ML','Python']
type(var3)

list

#### (iv)var4 = 1 : integer data type.

In [8]:
var4=1
type(var4)

int

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

#### (i) /  :  / is the division operator which is used to divide the number and gives exact result. i.e, float.
####            For example : 10 is divided by 2 we get 5.0.

#### (ii)% : % operator is the modulo division which gives the remainder as result when one number is divided by the other number.
####            For example : 10 is divided by 3 we get 1 as output because it is the remainder.

#### (iii)// : // operator is the floor division which gives the result as the round down value of the quotient
####                                                                     (or)
####           it gives only exact integer part of quotient as result.
####           For example : if 10 is divided by 3 we get 3 as result.

#### (iv)** : it is the exponential operator which gives the power values.
####      for example : 10**2 gives output as 100.

#### EXAMPLE

In [9]:
a=10
b=2
c=3
print(a/b)
print(a%c)
print(a//c)
print(a**b)

5.0
1
3
100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [10]:
l=[2,'teja',2.34,[1,2,3],{3,4,5},{1:'one',2:'two'},2+3j,' ',(3,4,5),True]
print(l[0],type(l[0]))
print(l[1],type(l[1]))
print(l[2],type(l[2]))
print(l[3],type(l[3]))
print(l[4],type(l[4]))
print(l[5],type(l[5]))
print(l[6],type(l[6]))
print(l[7],type(l[7]))
print(l[8],type(l[8]))
print(l[9],type(l[9]))

2 <class 'int'>
teja <class 'str'>
2.34 <class 'float'>
[1, 2, 3] <class 'list'>
{3, 4, 5} <class 'set'>
{1: 'one', 2: 'two'} <class 'dict'>
(2+3j) <class 'complex'>
  <class 'str'>
(3, 4, 5) <class 'tuple'>
True <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible

In [14]:
A = 100
B = 5 
count = 0 
while A % B == 0: 
      A = A / B 
      count += 1 
if count > 0: 
      print("A is purely divisible by B, and it can be divided", count, "times.") 
else: 
      print("A is not purely divisible by B.")

A is purely divisible by B, and it can be divided 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [12]:
lis=[3,4,5,6,7,8,9,0,2,3,23,34,12,13,1,2,3,4,56,67,89,90,23,24,25]
for num in lis:
    if num%3==0:
       print(f"{num} is divisible by 3")
    else:
       print(f"{num} is not divisible by 3")

3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
0 is divisible by 3
2 is not divisible by 3
3 is divisible by 3
23 is not divisible by 3
34 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
56 is not divisible by 3
67 is not divisible by 3
89 is not divisible by 3
90 is divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property

#### MUTABLE : the values which can be changeable after assining are known as mutable data types.
####          example : list,set,dictionary,etc.
#### IMMUTABLE : the values which cannot be changeable after assigning to a variable are known as immutable data types
#### example:tuple,strings,etc.

#### MUTABLE EXAMPLES

In [16]:
l=[1,2,3,4]
l[0]=5
print(l)

[5, 2, 3, 4]

In [14]:
l.append(6)
print(l)

[5, 2, 3, 4, 6]

In [15]:
s={2,3,4,5}
s.add(6)
print(s)

{2, 3, 4, 5, 6}

#### IMMUTABLE EXAMPLES
#### s="teja"
#### s[2]="r"
#### print(s)
#### Type error: 'str' object does not support item assignment